/* div{
    color:palegreen;
}
.colorblue{
    color:blue;
}
p{
    color:green;
}
#coloryellow{
    color:yellow; 
} */
            

div{
                color: pink;
            }

             .putgreen{
                color:green;
             }